@import url('../../node_modules/bootstrap/scss/bootstrap.scss');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.my-pt-136{
    padding: 102px 0 100px 0 ;
}

main{
    min-height: 100vh;
    background-size: cover;
    overflow-y: auto;

    .container-sm{
        height: 100vh;
    }
}